.header {
    height: 4.1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    position: relative;
}
.header-cont {
    max-width: 100rem;
    width: 100%;
    height: 4.1rem;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #e92cd8;
}
.logo {
    margin-left: 2rem;
}
.ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 20,5rem;
    height: 1.25rem;
    gap: 2rem;
}
.li-item {
    width: 7rem;
    height: 1.25rem;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 0,1px;
    color: #7f4d29;
}
.button1 {
    background-color: #b63cab;
    width: 6,25rem;
    height: 3rem;
    border-radius: 2rem;
    padding: 2rem ;
    text-align: center;

}
.button-p {
    text-transform: uppercase;
    font-weight: bold;
}

.burger {
    color: #ed9d1c;
    width: 3rem;
    height: 3rem;
    padding: 1.2rem;
    margin: 0 auto;
    display: none;
    position: absolute;
}

/*section 1 */ 

.main {
    max-width: 100rem;
    width: 100%;
    background-color: antiquewhite;
}
.section-1 {
    max-width: 90rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 7rem;
}
.section-1-left {
    width: 30rem;
    height: 25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    row-gap: 2.1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 3rem;
    margin-left: 1rem;
    /* margin: 1,5rem 3rem; */
    
}
.section-1-left-p1 {
    width: 100%;
    height: 2.5rem;
    /* font-family: 'Inter', sans-serif; */
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 1%;
    margin-bottom: 5rem;
    font-family:'Inter Tight';
}
.section-1-left-p2 {
    width: 100%;
    height: 4.5rem;
    font-family: 'Inter' , sans-serif ;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.5rem;
}
 
.section-1-right {
     max-width: 35.6rem;
     height: 30.75rem;   
     -webkit-box-align: center;   
         -ms-flex-align: center;   
             align-items: center;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
}
.laduree-pic2 {
    width: 100%;
    border-radius: 10px;
}

/* section 2 */

.section-2 {
    max-width: 100rem;
    width: 100%;
    background-image: url(../img/65411629eb3d3_slider_gourmandises_de_saison_1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 10rem;

    
}
.section-2-wrapp {
    max-width: 37,5rem;
    /* height: 35,25rem; */
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1,6rem;
    row-gap: 10px;         /* ????????*/
    height: 564px;
}
.section-2-h {
    width:33,75rem;
    /* width: 540px; */
    height: 6rem;
    font-weight: 900;
    font-size: 40px;       /* ????????*/
    color: #c72fc7;
    text-align: center;
    word-spacing: 1rem;
    row-gap: 2rem;
    font-family: 'Manrope', sans-serif;
    /* row-gap: 32px; */


} 
.section-2-p {
    width: 33,75rem;
    /* width: 540px; */
    /* font-size: 1,5rem; */
    font-size: 24px;
    color: #e52cd4;
    font-weight: 400;
    text-align: center;
    font-family:'Inter Tight';
}

.button2 {
    background-color: #e556d8;
    color: aliceblue;
    text-align: center;
    width: 6,25rem;
    height: 3rem;
    border-radius: 2rem;
    padding: 2rem ;
    text-align: center;
    margin-top: 2rem;
}

/*section 3 */ 


.section-3 {
    width: 80%;
    margin: 0 auto;
}

.section-3-wrap {
    max-width: 75rem;
    margin: auto;
    margin-top: 2.5rem;
    /* background-color: greenyellow; */
}
.section-3-h {
    text-align: center;
    /* font-size: 2,25rem;
    /* max-width: 428px; */
    font-size: 24px;
    margin: auto;
    line-height: 2;
    font-weight: 800;
    color: #000000;
    margin-bottom: 30px;
    font-family: 'Agbalumo';
}

.section-3-p{
    /* height: 109px; */
    color: #000000;
    font-weight: 400;
    font-size: 20px;
    line-height: 1;
    letter-spacing: 0.05em;
    text-align: center;
    margin: auto;
    margin-bottom: 3rem;
    font-family: 'Manrope', sans-serif;

}

.section-3-div-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 72rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    row-gap: 5.6rem;
    margin-top: 6.18rem;
}
.sec-3-child {
    text-align: center;
    width: 18.6rem;
    height: 13rem;
    row-gap: 5.6rem;
}
 .sec-3-icon {
    max-width: 2.8rem;
    position: relative;
    -webkit-animation: sec-3-icon 3s infinite;
            animation: sec-3-icon 3s infinite;
 }
 @-webkit-keyframes sec-3-icon {
    form {-webkit-transform: translate(2px);transform: translate(2px);}
    to {-webkit-transform: translate(70px);transform: translate(70px);}
 }
 @keyframes sec-3-icon {
    form {-webkit-transform: translate(2px);transform: translate(2px);}
    to {-webkit-transform: translate(70px);transform: translate(70px);}
 }

 .sec-3-h {
    font-weight: 800;
    font-size: 2rem;
    line-height: 49.18px;
    margin-top: 10px;
    color: #000000;
 }
 .sec-3-p {
    letter-spacing: 0.2px;
    line-height: 1.75rem;
    font-size: 1.1rem;
    font-weight: 400;
    max-width: 20rem;
    color: #000000;
    text-align: center;
    margin-top: 17px;
    margin-bottom: 5rem;
    font-family: 'Manrope', sans-serif;
 }


 /* section 4 */ 

 .section-4 {
    background-color: antiquewhite;
    margin-top: 10rem;
    padding: 2.5rem 1rem;   
 }
 .section-4-wrap {
    margin: 0 auto;
    display: -ms-grid;
    display: grid;
    gap: 2rem;
    height:50rem;
    -ms-grid-columns: 1fr 2rem 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-columns:repeat(auto-fit, min-max (1fr 1fr));
    -ms-grid-rows: ;
    grid-template-rows: repeat(3);
            grid-template-areas:
    "child-div1 child-div2"
    "child-div3 child-div4"
    "child-div5 child-div5";   
 }

 .section-4-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack:end;
        -ms-flex-pack:end;
            justify-content:flex-end;
    border-radius: 1rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 }

 .sec-4-txt {
    color: #eaa824;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 700;
 }

 .child-div1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: child-div1;
    background-image: url(../img/653f7372087fc_BLOC_COFFRETS_CADEAUX_LP.webp);
 }
 .child-div2 {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: child-div2;
    background-image: url(../img/64b6ad8174c22_menu_the_500x360.webp);
 }
 .child-div3 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: child-div3;
    background-image: url(../img/64e4aeccc360c_SOUS_MENU_EUGENIE_PARFUMS_new.webp);
 }
 .child-div4 {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    grid-area: child-div4;
    background-image: url(../img/64e4aeccc360c_SOUS_MENU_EUGENIE_PARFUMS_new.webp);
 }
 .child-div5 {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: child-div5;
    background-image: url(../img/65410235bbaa9_SOUS_MENU_COFFRETS_DE_MACARONS.webp);
 }





 /* form section */ 

 .form {
    max-width: 35rem;
    /* height: 40.5rem; */
    margin: 0 auto;

 }
.form-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 5rem;
    -webkit-column-gap: 10rem;
       -moz-column-gap: 10rem;
            column-gap: 10rem;
}
.form-div-right {
    max-width: 35rem;
    margin-left: 7rem;
}
 .form-p1 {
    font-size: 2rem;
    line-height: 2;
    font-weight: 800;
    color: #000000;
    margin-bottom: 2rem;
    font-family: 'Agbalumo';
    margin-top: 2.5rem;
    text-align: center;
 }

 .form-p2 {
    color: #eaa824;
    margin-bottom: 4rem;
    font-size: 1.7rem;
    font-weight: 300;
    font-family: 'Agbalumo';
    text-align: center;
 }
 .input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    row-gap: 1.2rem;
 }

 .input [type="text"], [type="tel"], [type="email"], :focus {
    outline: none;
    background: none;
 }
.input [type="text"],[type="email"],[type="tel"] {
    width: 37rem;
    height: 4rem;  
    border: none; 
    border-bottom: 0.2rem solid #eaa824;
 }

.form-but{
    background-color: #eaa824;
    width: 11rem;
    height: 4rem;
    font-weight: 600;
    font-size: 1.2rem;
    border: none;
    margin: 2rem 10rem;
    color: white;
    border-radius: 1rem;
    
}
.map {
    max-width: 35rem;
    height: 25rem;
   margin-top: 3rem;
}

.form-div-left {
  max-width: 30rem;
}

/*footer*/

.footer {
    height: 10rem;
 
}

.footer-dv {
    max-width: 100rem;
    max-width: 100%;
    height: 12rem;
    background-color: #f7cd79;
    border-radius: 1rem;
    /* position: absolute; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* justify-content: center; */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    gap: 2rem;
}
.f-ul {
    max-width: 30rem;
    height:1.20rem ;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 1.25rem;
    gap: 2rem;
    margin-left: 1rem;
}
.logo2 {
    margin-left: 4rem;
}
.social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; 
}
.icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 2rem;
       -moz-column-gap: 2rem;
            column-gap: 2rem;
}



